.cargo {
  padding-top: 94px;
  padding-bottom: 94px;

  &-choise {
    margin-top: 0;
    margin-bottom: 50px;
  }

  &-item {
    position: relative;
    max-width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: $cl-primary-white;
    border: 1px solid $cl-background;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &-link {
      text-decoration: none;
    }

    &-title {
      padding-left: 24px;
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      color: $cl-secondary-text;
    }
  }

  &-position {
    padding-left: 24px;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.875;
    color: $cl-primary-text;
  }
}

.cargo-thumb {
  position: relative;

  &-discription {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    max-width: 370px;
    min-height: 292px;
    padding: 60px 24px;
    background: rgba(33, 150, 243, 0.9);
    opacity: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $cl-primary-white;
    border-radius: 2px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// .cargo-item:nth-child(3n) {
//   margin-right: 0;
// }

// .cargo-item:nth-last-child(-n + 3) {
//   margin-bottom: 0;
// }

.cargo-item-title {
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: $cl-secondary-text;
}

.cargo-item:hover,
.cargo-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cargo-item:hover .cargo-thumb-discription,
.cargo-item:focus .cargo-thumb-discription {
  top: 0;
  opacity: 1;
  transform: translateY(0%);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subtitle {
  position: relative;
  padding: 20px 24px;
  background-color: $cl-primary-white;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .cargo-card {
    width: 740px;
  }

  .cargo-list:nth-child(2n + 1) {
    width: 740px;
    display: flex;
    margin-right: 30px;
  }
}
