.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;

  &-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    color: $cl-secondary-text;
    margin-bottom: 50px;
  }

  &-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    height: 90px;

    margin-bottom: 30px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-icons-svg {
    height: 44px;
    fill: $cl-primary-text;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    // align-content: center;
  }

  &-icons-item {
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  // &-icons-item {
  //   // margin-right: 30px;
  // }
}

@media screen and (min-width: 768px) {
  .clients-icons-link {
    width: 210px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-icons-link {
    min-width: 226px;
    margin-right: 0px;
  }

  .clients-icons-item:nth-child(3n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-icons-link {
    max-width: 170px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-icons-item:nth-child(6n) {
    margin-right: 0px;
  }
}

.clients-icons-link:hover .clients-icons-svg,
.clients-icons-link:focus .clients-icons-svg {
  fill: $cl-accent;
}
.clients-icons-link:hover,
.clients-icons-link:focus {
  border-color: $cl-accent;
}
