.features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .features-list {
      display: flex;
      flex-wrap: wrap;
    }

    .features-item,
    .features-title::before {
      max-width: 354px;
    }
  }

  @media screen and (min-width: 768px) {
    .features-item:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  &-list {
    list-style: none;
  }

  @media screen and (max-width: 767px) {
    .features-list {
      text-align: center;
    }
  }

  @media screen and (min-width: 1200px) {
    .features-item,
    .features-title::before {
      max-width: 270px;
    }
  }

  @media screen and (min-width: 1200px) {
    .features-list {
      display: flex;
    }
  }
  @media screen and (min-width: 1200px) {
    .features-item:not(:last-child) {
      margin-right: 30px;
    }
  }

  &-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $cl-secondary-text;
  }
}

.features-item {
  margin-bottom: 30px;
}

.features-title::before {
  display: block;
  content: "";
  width: 450px;
  height: 120px;
  background-size: contain;
  border-radius: 4px;

  margin-bottom: 30px;

  background-color: $cl-secondary;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url("../images/features/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/features/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/features/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/features/astronaut.svg");
}

.featuters .discription {
  font-size: 14px;
  line-height: 1.71;
  color: $cl-primary-text;
}

.features-item:not(:last-child) {
  // margin-right: 30px;
}
