.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  &-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    font-style: normal;
    color: $cl-primary-white;
  }

  &-address {
    font-style: normal;
    width: 220px;
  }

  &-social {
    // margin-right: 90px;
    // width: 210px;
    padding-top: 72px;
    padding-bottom: 60px;

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      transition: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-link:hover,
    &-link:focus {
      background-color: $cl-accent;
      transition: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-title {
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $cl-primary-white;
    }

    &-svg {
      width: 20px;
      height: 20px;
      fill: $cl-primary-white;
    }

    &-item:not(:last-child) {
      margin-right: 10px;
    }
  }

  &-address .link {
    font-size: 14px;
    line-height: 1.71;
    color: $cl-primary-white;
    text-decoration: none;
  }

  &-address .mapp {
    font-family: inherit;
    color: $cl-primary-white;
    text-decoration: none;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-address .contact {
    display: block;
    margin-top: 9px;
    color: $cl-address;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-address :hover,
  &-address :focus {
    color: $cl-accent;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mapp {
  display: inline-block;
  margin-top: 20px;
}

.subscribe {
  width: 570px;
  padding-top: 72px;
  padding-bottom: 60px;

  &-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $cl-primary-white;
  }

  &-mail {
    width: 350px;
    height: 50px;
    padding-left: 16px;

    outline: none;

    color: $cl-primary-white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $cl-dark-bg;
    margin-right: 12px;
  }

  &-mail:hover,
  &-mail:focus {
    border: 1px solid $cl-accent;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-svg {
    fill: $cl-primary-white;
  }
}

@media screen and (max-width: 767px) {
  .wide {
    display: block;
    text-align: center;
  }
  .footer-logo {
    display: block;
    text-align: center;
  }
  .footer-address {
    width: 450px;
    display: block;
    text-align: center;
  }
  .subscribe {
    width: 450px;
  }

  .subscribe-mail {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
}
