.page-header {
  border-bottom: 1px solid #ececec;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-style: normal;
  color: $cl-header-logo;
  //   padding-top: 16px;
  //   padding-bottom: 16px;
}

.web {
  color: $cl-accent;
}

.main-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.menu-contaiter {
  display: none;
}

// .mobile-menu-btn {
//   display: none;
//   width: 25px;
//   height: 25px;
// }

.mobile-menu-btn {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  // top: 18px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: $cl-primary-white;
  border: 1px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:hover .open-menu,
.mobile-menu-btn:focus .open-menu {
  fill: $cl-accent;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn .close-menu {
  display: none;
}

.mobile-menu-btn.is-open .close-menu {
  display: block;
}

.mobile-menu-btn.is-open .open-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu-btn {
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
  }

  .menu-contaiter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .site-nav {
    display: flex;
  }

  .site-nav-item:not(:last-child) {
    margin-right: 50px;
  }

  .header-logo {
    margin-right: 88px;
  }
}

.site-nav .site-nav-link {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $cl-secondary-text;
  text-decoration: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $cl-accent;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.current {
    color: $cl-accent;
  }
}

.site-nav-item {
  list-style: none;
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current:hover::after,
.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;

  margin-top: 25px;

  background: $cl-accent;
  border-radius: 2px;
  transition-duration: 250ms;
}

/*============ контакти хедер ============*/
.contacts {
  list-style: none;

  &-item-svg {
    display: inline-block;
    content: "";
    height: 16px;
    margin-right: 10px;
    align-items: center;
  }

  &-item {
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 32px;
    padding-bottom: 32px;

    &-svg {
      display: inline-block;
      content: "";
      width: 16px;
      // height: 12px;
      margin-right: 10px;
      align-items: center;

      fill: $cl-primary-text;
      transition: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.contacts .site-nav-item + .site-nav-item {
  margin-left: 50px;
}

.contacts .contacts-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $cl-primary-text;
  text-decoration: none;
}

.contacts .contacts-item:hover,
.contacts .contacts-item:focus {
  color: $cl-accent;
}

.contacts-item:hover .contacts-item-svg,
.contacts-item:focus .contacts-item-svg {
  fill: $cl-accent;
}
.contacts-item:hover,
.contacts-item:focus {
  border-color: $cl-accent;
}

.header-nav-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $cl-primary-text;
  text-decoration: none;
  // margin-top: 5px;
  // margin-bottom: 5px;
}

.header-nav-link:last-child {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }

  .header-nav-item:first-child {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu {
  transform: translateY(-200%);

  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  background-color: $cl-primary-white;
  opacity: 0;
  visibility: hidden;

  &.is-open {
    display: block;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  // top: 0px;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-site-nav {
  display: block;
  text-align: center;
  padding-top: 60px;
}

.mobile-contacts {
  display: block;
  text-align: center;
}

.mobile-nav-item {
  position: relative;
  margin-bottom: 40px;
}

.mobile-nav-link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $cl-secondary-text;
  text-decoration: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $cl-accent;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile-nav-address {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $cl-primary-text;
  text-decoration: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $cl-accent;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile-nav-address:first-child {
  margin-bottom: 16px;
}
