.social {
  display: inline-flex;

  &-link {
    display: flex;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: $cl-primary-text;
  }

  &-icons {
    display: flex;
    justify-content: center;

    &-link {
      // display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      transition: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-svg {
      width: 20px;
      height: 20px;

      fill: $cl-primary-text;
      transition: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: $cl-primary-white;
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: $cl-accent;
}

.team {
  background-color: $cl-secondary;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  &-list {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    list-style: none;
    margin-top: 0;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    .team-item:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    .team-item:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    .team-item {
      width: 354px;
    }
  }

  @media screen and (min-width: 1200px) {
    .team-item {
      width: 270px;
    }
  }

  &-item {
    max-height: 622px;
    max-width: 450px;
    background: $cl-primary-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 24px;
    margin-bottom: 30px;
  }

  &-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    color: $cl-secondary-text;
    margin-bottom: 30px;
    // margin-bottom: ;
  }
}

// @media screen and (max-width: 767px) {
//   .team-list-item:not(:last-child) {
//     margin-bottom: 30px;
//   }
// }
@media screen and (min-width: 768px) {
  .team-item {
    display: block;
    max-width: 354px;
  }
}

.team .item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  color: $cl-secondary-text;
}

.item-title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team .position {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  color: $cl-primary-text;
}

.position {
  margin-top: 0;
  margin-bottom: 16px;
}
