.work {
  padding-bottom: 94px;
}

.work-item {
  margin-right: 30px;
  position: relative;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

.work .list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;

  margin-top: 0;
  margin-bottom: 0;
}

.work-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--secondary-text-color);
}

.work-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.work-discription {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.145;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 80px;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}