.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-style: normal;
  color: var(--header-logo-cl);
}

.web {
  color: var(--accent-cl);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-style: normal;
  color: var(--primary-white-color);
}

.web {
  color: var(--accent-cl);
}
