.container {
  /* outline: 3px solid red; */
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  /* outline: 3px solid red; */
  width: 1200px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.centered {
  text-align: center;
}
