$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$background-cl: #e5e5e5;
$header-logo-cl: #000000;
$dark-bg-cl: #2f303a;
$primary-text-cl: #757575;
$secondary-text-cl: #212121;
$accent-cl: #2196f3;
$primary-white-cl: #ffffff;
$address: rgba(255, 255, 255, 0.6);
$secondary-bg-cl: #f5f4fa;
