$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$cl-background: #e5e5e5;
$cl-header-logo: #000000;
$cl-dark-bg: #2f303a;
$cl-primary-text: #757575;
$cl-secondary-text: #212121;
$cl-bg-accent: #188ce8;
$cl-accent: #2196f3;
$cl-primary-white: #ffffff;
$cl-address: rgba(255, 255, 255, 0.6);
$cl-secondary: #f5f4fa;

.drk-bg {
  background-color: $cl-dark-bg;
  // text-align: center;
  width: 100%;
}
